.day__blank {
  width: 30px;
  height: 30px;
  margin: 16px 4px 0;
  outline: none;
}

.day__button {
  width: 30px;
  height: 30px;
  padding: 8px;
  margin: 16px 4px 0;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;
  font-size: 0.7em;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.day__achievement {
  background-color: #eee;
}

.day__large {
  width: 72px;
  height: 72px;
  margin: 16px;
}
