.calendar__calendar-container {
  max-width: 1200px;
  margin: 64px auto;
}

.calendar__calendar-container h1 {
  margin-left: 72px;
}

.calendar__year-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
