.month__week-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.month__week-container div {
  width: 20px;
  padding: 8px;
  margin: 16px 4px 0;
  border: 1px solid #eee;
  border-radius: 32px;
  text-align: center;
  font-size: 0.7em;
}

.month__week-container-large {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.month__week-container-large div {
  width: 20px;
  padding: 24px;
  margin: 16px;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;
}

.month__achievement {
  background-color: #eee;
}
