.list-list-container {
  padding: 0
}

.list-list-container li {
  list-style-type: none;
  border-top: 1px solid #eeeeee33;
  padding: 16px 0;
}

.list-list-container li:last-child {
  border-bottom: 1px solid #eeeeee33;
}

.list-list-container button {
  border: none;
  background: transparent;
  font-size: 0.9em;
  color: #ccc;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
  outline: none;
}
