.tracker-list-container {
  padding: 0;
  border-top: 1px solid #eeeeee33;
}

.tracker-list-container li {
  list-style-type: none;
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-height: 28px;
}

.tracker-list-container li:hover {
  background-color: #eeeeee11;
}

.tracker-list-container li .invisible-button {
  display: none;
}

.tracker-list-container li:hover .invisible-button {
  display: block;
}

.tracker-list-container button {
  border: none;
  background: transparent;
  font-size: 0.9em;
  color: #eee;
  font-weight: normal;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.tracker_list__color-indicator {
  border-radius: 50%;
  margin-right: 16px;
  background-color: #eee;
  width: 8px;
  height: 8px;
}

.tracker_list__name-container {
  display: flex;
  align-items: center;
}
